<p>menu-nav works!</p>

<div class="sidenav-container">
  <div class="logo-section">
    <span class="logo-icon">A</span>
    <h2>Angular</h2>
  </div>

  <mat-nav-list>
    @for (item of menuItems(); track item.label) {
      <a mat-list-item
         (click)="item.children ? toggleSubmenu(item) : null"
         [routerLink]="item.route"
         routerLinkActive="active-link"
         [class.expanded]="item.expanded">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
        @if (item.children) {
          <mat-icon class="menu-arrow">{{ item.expanded ? 'expand_more' : 'chevron_right' }}</mat-icon>
        }
      </a>

      @if (item.children && item.expanded) {
        <div class="submenu">
          @for (sub of item.children; track sub.label) {
            <a mat-list-item [routerLink]="sub.route" routerLinkActive="active-link">
              <mat-icon matListItemIcon class="sub-icon">circle</mat-icon>
              <span>{{ sub.label }}</span>
            </a>
          }
        </div>
      }
    }
  </mat-nav-list>
</div>
